include header.pug




div(class="my-3 p-3 bg-white rounded shadow-sm")
  h4= result
  if (code == 0)
    div
    a(href="/login") 去登陆
  else
    button(class="btn btn-primary" onclick="history.back()") 后退
